@charset "UTF-8";

.a-content {
	position: absolute;
	left: 241px;
	top: 81px;
	height: 1051px;
	width: 1662px;
}

.a-funcFrame {
	position: absolute;
    left: 400px;
    top: 150px;
    width: 1000px;
    height: 1000px;
/*     box-sizing: border-box; */
}

.a-funcCenterFrame {
	display: inline-block;
	width: 700px;
	height: 700px;
	box-sizing: border-box;
}

.a-approvalInsertHeader {
	width: 103px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #636363;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 3px;
    border-left: 4px solid #75CB5E;
    border-radius: 3px;
}

.a-approvalRow {
	display: inline-block;
    width: 870px;
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
    padding: 5px;
}

.a-inputInfo {
	width: 530px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #D9D9D9;
}

.a-selectBox {
    width: 150px;
    height: 27px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid #D9D9D9;
}

.a-inputRefDocumentBtn {
	height: 27px;
    border: none;
    padding: 2px;
    font-weight: bold;
    font-size: small;
    font-family: 'Noto Sans KR', sans-serif;
    /* background: #75CB5E;
    color: white; */
    border-radius: 5px;
    display: inline-block;
    margin-left: 15px;
}

.a-inputInfoBtn {
    height: 30px;
    border: none;
    position: absolute;
    font-weight: bold;
    background: #75CB5E;
    color: white;
    border-radius: 5px;
}

.a-submitBtn {
    height: 30px;
    border: none;
    font-weight: bold;
    background: #2BAF66;
    color: white;
    float: right;
}

.a-deleteEmp {
	left: 810px;
}

.a-approvalTextArea {
    width: 740px;
    height: 30px;
    border: 3px soild black;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    resize: none;
    margin-right: 5px;
}

