@charset "UTF-8";

#calendar > tbody > tr> td {
     width: 100px;
     height: 25px;
     text-align: center;
	 font-family: 'Noto Sans KR', sans-serif;
	 font-weight: bold;
 	 font-size: 20px;
     border: 1px solid #CBEEC1;
     border-radius: 5px;/*모서리 둥글게*/
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
        }
        
#calendar{
	 border-collapse: separate;	
	 border-spacing: 6px 6px;
		position: absolute;	
		top: 60px;
	  width: 723px;
       height: 439px;
}        