@charset "UTF-8"; 


.m-empArea{
	position: absolute;	
	left: 400px;
	top: 220px;
	width: 1600px;
	height: 900px;
	/* border: 1px solid red; */
	
}

.m-empAreaRight{
	position: absolute;
	left: 60px;
	width: 1100px;
	height: 700px;
	/* border: 1px solid blue; */
	
}

.m-search-area{
	position: absolute;
	left: 00px;
	top: 63px;
	width: 1300px;	
	display: inline-block;
}

#m-searchCondition{
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
	width: 170px;
	height: 40px;
}



#m-searchValue{
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
	width: 500px;
	height: 40px;
}

#m-searchBtn{
background-color: #75CB5E;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
	
}


#m-createIdBtn{
background-color: #2BAF66;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
width: 200px;
}



.orderByHireDate{
	position:absolute;
	left: -699px;
	top: 135px;
	
}

.m-empInfoTable{
	width: 900px;
	height: 750px;
	
}

.m-thArea{
	
	border: none;
}

.m-emp-content{ 
	 position: absolute;
   left: 241px;
   top: 81px;
   height: 1051px;
   width: 1662px;
}

.emp-content{ 
	 position: absolute;
   left: 241px;
   top: 81px;
   height: 1051px;
   width: 1662px;
}

.menuName {
   position: absolute;
   width: 412px;
   height: 51px;
   left: 50px;
   top: 38px;
   
   font-family: 'Noto Sans KR', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 37.33px;
   line-height: 51px;
   
   display: flex;
   align-items: center;
   letter-spacing: -0.04em;
   
}

.m-detail {
   position: absolute;
   left: 30px;
   top: 153px;
   width: 1605px;
   height:689px;
   background: #black;
   box-sizing: border-box;
}

.m-detailLeftFrame {
   display: inline-block;
   width: 449px;
   height: 689px;
   
   background: #F9F9F9;
   border: 1px solid #D9D9D9;
   box-sizing: border-box;
}
.m-detailRightFrame {
   display: inline-block;
   width: 1149px;
   height: 689px;
   left: 460px;
   
   background: #F9F9F9;
   border: 1px solid #D9D9D9;
   box-sizing: border-box;
   
}

.m-profileHeader {
   position: absolute;
   width: 414px;
   height: 57px;
   left: 18px;
   top: 17px;
}

.m-profileSpan {
   position: absolute;
   width: 414px;
   height: 279px;
   left: 18px;
   top: 81px;
}

.m-profileLeft{
	display: inline-block;
	border: 1px solid #8E8E8E;
	width: 100px;
	height: 277px;
	background: #75CB5E;
	
}
.m-profileLeft > a{
	position: absolute;
	padding-left: 32px;
	padding-top: 125px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.m-signLeft > a {
	position: absolute;
	padding-left: 32px;
	padding-top: 95px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.m-profileRight {
	position:absolute;
	left: 102px;
	top:0px;
	display: inline-block;
	border: 1px solid #8E8E8E;
	width : 310px;
	height: 277px;
}



.m-profileAdd {
	padding-left:3px;
	padding-top:3px;
   position: absolute;
	border: 1px solid #8E8E8E;
	width: 414px;
   height: 27px;
   top: 373px;
   left: 18px;
}

.m-signAdd {
	padding-top:3px;
	padding-left:3px;
   position: absolute;
   border: 1px solid #8E8E8E;
   width: 414px;
   height: 27px;
   top: 634px;
   left: 18px;
}


.m-signSapn {
   position: absolute;
   width: 414px;
   height: 269px;
   left: 18px;
   top: 414px;
}


.m-signLeft{
	position: absolute;
	display: inline-block;
	border: 1px solid #8E8E8E;
	width: 100px;
	height: 205px;
	background: #75CB5E;
	
}

.m-signLeft > a{
	position: absolute;
	
}

.m-signRight {
	position: absolute;
	display: inline-block;
	border: 1px solid #8E8E8E;
	left: 102px;
	width : 310px;
	height: 205px;
}


.m-rightHeader {
   position: absolute;
   width: 1112px;
   height: 57px;
   left: 472px;
   top: 17px;
}

.m-empInfo {
   position: absolute;
   width: 1112px;
   height: 600px;
   left: 472px;
   top: 81px;
}

#m-empInfoTable {

}
#m-empInfoTable > tbody > tr > td {
   border: 1px solid #8E8E8E;
  height: 50px;
	
}
#m-empInfoTable > tbody > tr,
#m-empCallTable > tbody > tr {
}

#m-empinfo1 {
	width: 10%;
	background: #75CB5E;
	align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#m-empinfo2 {
	width: 20%;
	font-size: 16px;
	font-weight: bold;
	align: center;
	text-align: center;
}

#m-empinfo8 {
	font-size: 16px;
	font-weight: bold;
	width: 12.5%;
	align: center;
	text-align: center;
}

#m-empinfo3 {
	width: 10%;
	background: #75CB5E;
	align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
#m-empinfo4 {
	font-size: 16px;
	font-weight: bold;
	width: 15%;
	align: center;
	text-align: center;
}
#m-empinfo5 {
	width: 10%;
	background: #75CB5E;
	align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#m-empinfo6 {
	font-size: 16px;
	font-weight: bold;
	width: 20%;
	align: center;
	text-align: center;
}

#m-empinfo7 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#m-empCallTable {
	width: 100%;
	margin-top: 10px;
}
#m-empCallTable > tbody > tr > td {
   border: 1px solid #8E8E8E;
  height: 50px;
	
}

.m-empDetailBtnArea{
	position: absolute;
	left: 700px;
	top: 870px;
}

.eback-btn {
background-color: gray;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

.em-btn {
background-color: #75CB5E;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

.m-th1, .m-td1{
	width: 110px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	text-align: center;
}
.m-th2, .m-td2{
	width: 120px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	text-align: center;
}
.m-th3, .m-td3{
	width: 160px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	text-align: center;
}
.m-th4{
	width: 140px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	
}

.m-td4{
	width: 140px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	text-align: center;
}
.m-th5, .m-td5{
	width: 120px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	text-align: center;
	
}
.m-th6{
	width: 170px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	
}

.m-td6{
	width: 170px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	
}

.m-th6-1{
	width: 180px;
	height: 40px;
	font-size: 18px;
	text-align: center;	
	border: 1px solid gray;
}

.m-td6-1{
	width: 180px;
	height: 40px;
	border: 1px solid gray;
	font-size: 18px;
	text-align: center;
}

.m-td7{
	width: 180px;
	height: 40px;
	border: 1px solid gray;
	font-size: 15px;
	text-align: center;
	font-style: italic;
	border: none;
	
}
.m-th7-1{
	width: 180px;
	height: 40px;
	border: 1px solid gray;
	font-size: 15px;
	text-align: center;
	font-style: italic;
	
}
.m-td7-1{
	width: 180px;
	height: 40px;
	border: 1px solid gray;
	font-size: 15px;
	text-align: center;
	font-style: italic;
	
}

.gray{
	background-color: gary;
}

#m-orderByHireDate{
	position: absolute;
	left: 1455px;
	top: 67px;
 	appearance:none;
 	
 	border-radius: 2px;
 	width: 49px;
 	font-size: 12px;
 	z-index: 21;
	
}

#m-orderByJobGrade{
	position: absolute;
	left: 469px;
	top: 201px;
 	appearance:none;
 	
 	border-radius: 2px;
 	width: 49px;
 	font-size: 12px;
 	z-index: 22;
	
}

#e-orderByHireDate{
	position: absolute;
	left: 1440px;
	top: 67px;
 	appearance:none;
 	font-weight: bold;	
 	border-radius: 2px;
 	width: 49px;
 	font-size: 12px;
 	z-index: 23;
	
}

#e-orderByJobGrade{
	position: absolute;
	left: 469px;
	top: 201px;
 	appearance:none;
 	font-weight: bold;	
 	border-radius: 2px;
 	width: 49px;
 	font-size: 12px;
 	z-index: 20;
	
}


#m-paging{
	position: absolute;
	left: 400px;
	top: 620px;
}


#m-empSearchForm{
	background-color: lightGray;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:1px;
	padding-bottom:1px;
	width: 988px;
	height: 70px;
}

#m-empTable-empSearchForm{
	position:absolute;
	left:80px;
	border-radius: 10px;
	background-color: lightGray;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:1px;
	padding-bottom:1px;
	width: 790px;
	height: 70px;
}

#m-hr{
	position:absolute;
	top: 130px;
	width: 1000px;
	height: 3px;
}

#em-hr{
	position:absolute;
	top: 130px;
	width: 1000px;
	height: 3px;
}



.m-empinfo {
	background: none;
}

.m-Table-area{
	position: absolute;
	top: 160px;
}

#me-Table-area{
	position: absolute;
	top: 190px;
}

.m-Table-area{
	position: absolute;
	top: 190px;
}


#m-paging{
	position: absolute;
	left: 400px;
	top: 650px;
}

#me-paging{
	position: absolute;
	left: 400px;
	top: 650px;
}

#m-infoBtn{
color: white;

font-size: 20px;
font-weight: bold;
background-color: lightgray;

border-radius: 8px;
width: 130px;

}

#address-a{
	position: absolute;
	left: 10px;
	text-decoration: none;

}



















