@charset "UTF-8";

.wrap{
	position: absolute;
	width: 100%;
	height: 1051px;
	
	background: white;
}
.header {
	position: Sticky;
	width: 100%;
	height: 83px;
	left: 0px;
	top: 0px;
	background: white;
	border: 1px solid #D9D9D9; 
	z-index: 30;
}

.sidebar {
	position: absolute;
	width: 241px;
	height: 1051px;
	left: 0px;
	top: 81px;
	border: 1px solid #D9D9D9; 
}
.logo {
	 width: "190px"; 
	 height: "70px";
	 margin-top: 5px;
	 margin-left: 19px;
}

.headerBtn {
	text-decoration: none;
	
}
.content {
	position: absolute;
	left: 241px;
	top: 81px;
	height: 1051px;

}
.menuList {
	margin-left: 25px;
	margin-top: 30px;
	text-align: left;
}

.sideMenu {
	margin-left : 300px;
	
}
dd {
	font-size: 14.63px;
	margin-top: 20px;
	margin-left: 20px;
	color: #636363;
	font-family: 'Noto Sans';
}

.category {
	font-weight: 900;
	margin-right: 30px;
}
.post {
	margin-left: 1360px;
}
.bell {
	margin-left: 20px;

}

.image {
	margin-left: 20px;
	width: 39px;
    height: 39px; 
    border-radius: 70%;
    overflow: hidden;
	border: 2px solid #636363; 
}

#empName {
	margin-left: 10px;
	font-size: 14.63px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
	letter-spacing :5px;
}


#job {
	margin-left: 5px;
	font-size: 14.63px;
	color: #636363;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing :3px;
}


.dropbtn {
	margin-top : 9px;
	margin-right: 5px;
	background-color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  border: 1px solid #2BAF66;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: left;
  color: black;
  border: 1px solid #CFCFCF;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  display: block;
}

.dropdown-content img {
	margin-right: 30px;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}

#sideMenu {
	text-decoration:none !important;
	color: #636363;
}

.headerBtn,	
.approvalAlarm,	
.projectAlarm {
	text-decoration: none;
}

.headerBtn:hover,	
.approvalAlarm:hover,	
.projectAlarm:hover {
	text-decoration: none;
}