@charset "UTF-8";

#p-modalArea {
	
	width: 900px;
	height: 900px;
}

#p-workListTable {
	width: 100%;
	height: 50px;
	
}

.p-kanban {
	background: white;
	display: inline-block;
	width: 300px;
	margin: 10px;
	text-align:center; 
	border: 1px solid #D7D7D7;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: auto;
} 

.p-kbNo5 {
	border: 3px solid #E05151; 
	border-top: 1px solid #D7D7D7;
}
.p-kanban::-webkit-scrollbar {
	width: 5px;	
}

.p-kanban::-webkit-scrollbar-thumb {
    background-color: #D7D7D7;
    border-radius: 10px;    
} 

.p-kbNo5::-webkit-scrollbar-thumb {
    background-color: #E05151;
    border-radius: 10px;    
} 

.p-kanban::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

.p-kanbanBoard {
	width: 100%;
	height: 800px;
	display: flex;
	margin-left: 20px;
}

.p-kanban > ol >  dd {
	
	height: 103px;
	text-align: center;
	border: 1px solid #C1C1C1;
	box-sizing: border-box;
	border-radius: 5px;
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
	
}
.p-kanban > ol >  dt {
	
	height: 203px;
	text-align: center;
	border: 1px solid #C1C1C1;
	box-sizing: border-box;
	border-radius: 5px;
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
	
}
.p-kanban > ol > p {
	
	font-weight: bold;
	font-size: 26.5036px;
	color: white;
	position: Sticky;
	top:0px;
	z-index: 20;
	
}

.p-kbNo1 > ol > p {
	background: #C6D82E;
	outline: 8px solid #C6D82E; 
	position: Sticky;
	top:0px;
}
.p-kbNo2 > ol > p {
	background: #9FC266;
	outline: 8px solid #9FC266; 
	position: Sticky;
	top:0px;
}
.p-kbNo3 > ol > p {
	background: #75CB5E;
	outline: 8px solid #75CB5E;
	position: Sticky;
	top:0px; 
}
.p-kbNo4 > ol > p {
	background: #2BAF66;
	outline: 8px solid #2BAF66; 
	position: Sticky;
	top:0px;
}
.p-kbNo5 > ol > p {
	background: #E05151;
	outline: 8px solid #E05151; 
	position: Sticky;
	top:0px;
}

.p-kbNo1 > ol > dd {
	border-top: 6px solid #C6D82E;
}
.p-kbNo2 > ol > dd {
	border-top: 6px solid #9FC266;
}
.p-kbNo3 > ol > dd {
	border-top: 6px solid #75CB5E;
}
.p-kbNo4 > ol > dd {
	border-top: 6px solid #2BAF66;
}
.p-kbNo5 > ol > dt {
	border-top: 6px solid #E05151;
	margin-top: 20px;
}

.p-kanban > ol > dd  > a {
	font-weight: bold;
	font-size: 16px;
}

#p-partWorkNo {
	display: none;
}

.p-kanban > ol {
 	padding-left: 0;
 	margin: 8px;
}


.p-partWorkAdd {
	
	margin-top: auto;
}

.e-issueAdd {
	
	margin-top: auto;
}

#p-workListTable {
	border-collapse: separate;	
	border-spacing: 5px;
	margin-bottom: 5px;
	border: 1px solid #D9D9D9;
	text-align: center;
}

#dragtarget {
	padding-top: 5px;
	display: block;
}

#p-partWorkDate {
	display:inline-block;
	padding-top: 25px;
	color: #848484;
}

#p-issueDate {
	display:inline-block;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #848484;
}

#p-issueContent {
	display:inline-block;
	padding-top : 5px;
	color: #848484;
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
}

.p-clock {
	display:inline-block;
	position: relative;
	padding-top: auto;
	padding-right: auto;	
}
.p-workList {
	
	word-break:break-all;
	width: 217px;
	font-size: 18px;
	color: #5A5A5A;
	border: 1px solid #D9D9D9;
	font-family: 'Noto Sans KR', sans-serif;
}

.p-modalTextHeader {
	background: #2BAF66;
	width: 103px;
	height: 37px;
	font-weight: bold;
	font-size: 16px;
	color : white;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

#p-projectMember {
	width: 103px;
	height: 27px;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #D9D9D9; 
}

.modal-header {
	height: 80px;
}

#p-partWorkMember {
	width: 100%; 
	height: 30px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	word-spacing: 5px;
}

#p-members {
	color : black;
}

#p-members:hover {
	color : red;
}

.p-modalRow {
	display:inline-block;
	width: 870px;
	border: 1px solid #D9D9D9;
	margin-bottom: 15px;
	padding: 5px;
}

#p-partWorkContent {
	border: none;
	padding-top: 15px;
	font-size: 13px;
	font-family: 'Noto Sans KR', sans-serif;
	resize: none;
}

#p-partWorkContent:focus,
#p-startDate:focus,
#p-targetDate:focus,
#p-partWorkName:focus,
#p-partWorkName2:focus,
#e-issueName:focus,
#e-issueContent
 {
	outline: none;	
}

#p-partWorkName {
	border: none;
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Noto Sans KR', sans-serif;
}

.p-kbNo5 > ol > dt > a#p-partWorkName {
	color: black;
	font-weight: bold;
	font-size: 19px;
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration: underline;
	text-decoration-color: #636363;
	text-underline-position: under;
}

#p-issueWriter {
	color: #636363;
	font-weight: bold;
	font-size: 16px;
	padding-top: 12px;
	font-family: 'Noto Sans KR', sans-serif;
}

#p-issueDate {
		color: #636363;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
}

#p-startDate, 
#p-targetDate {
	width : 370px;
	padding-left: 15px;
	margin-left:15px;
	border: 1px solid #D9D9D9; 
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
}

#p-dateline {
	margin-left:15px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
}
.modal-body > span {
	margin-bottom: 15px;
}

#p-insertBtn,
#p-return,
#p-updateBtn,
#p-deleteBtn,
#p-enterModify {
	width: 62.82px;
	height: 42px;
	display: inline-block;
	background: #2BAF66;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	color : white;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 5px;
}

#p-updateBtn,
#p-insertBtn {
}

#p-enterModify:hover {
	cursor: pointer;	
	background: #077739;
}

#p-insertBtn:hover,
#p-return:hover,
#p-updateBtn:hover,
#p-deleteBtn:hover {
	background: #077739;
}

#p-partWorkName {
	font-size: 24px;
	top: 15px;
}

#p-partWorkName2 {
	font-size: 18px;
	top: 15px;
	border: none;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}
#p-funcBoardName2,
#p-funcBoardContent2 {
	font-size: 18px;
	top: 15px;
	border: none;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}
#p-funcBoardName2:hover,
#p-funcBoardContent2:hover { 
	outline : none;
}


#p-kanbanFooter {
	min-height: 10vh;
	display: flex;
	flex-direction: column;
}

#p-kanbanFooter > a {
	font-weight: bold;
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
	color: #848484;
}

#p-kanbanFooter > a:hover {
	color: black;
	text-decoration: none;
}

#e-issueName {
		font-size: 18px;
	top: 15px;
	border: none;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}
#e-selMember {
	
	width: 103px;
	height: 27px;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #D9D9D9; 
}

#e-add2 {
	width: 30px;
	margin-left: 5px;
}
#e-add2:hover {
	color: white;
	background: #d9d9d9;	
}

#e-issueMember{
	width: 100%; 
	height: 30px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	word-spacing: 5px;
}

#e-writeDate {
	height: 30px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	word-spacing: 5px;
	border: none;
	padding-left: 5px;
}

#e-issueContent {
	border: none;
	padding-top: 15px;
	font-size: 13px;
	font-family: 'Noto Sans KR', sans-serif;
	resize: none;
}

#btn-insert,
#btn-updateComplete {
	background: #2BAF66;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	color : white;
}
#btn-update,
#btn-delete,
#btn-close {
	background: #2BAF66;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	color : white;
	border: none;
}

#p-projectMemberList {
	display: inline-block;
	margin-top: 20px;
	width: 1580px;
	height: 50px;
	margin-left: 30px;
	border: 1px solid #D9D9D9; 
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-top: 4px;
	padding-left: 5px;
}

#p-projectMemberList > p {
	border-radius: 3px;
	background: #2BAF66; 
	color : white;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 12px;
	padding-right: 12px;
}

.p-workListBtn {
	border: none;
	background: none;
	text-decoration: none;
	color: #333333;
}

.p-workListBtn:hover {
	text-decoration: none;
}