@charset "UTF-8";


	.wrap {
	width: 100%;
	height: 970px;
	
	background: white;
	}

	header {
		position: absolute;
		width: 1903px;
		height: 83px;
		left: 0px;
		top: 0px;
		
		background: #FFFFFF;
		border: 1px solid #D9D9D9;
		box-sizing: border-box;
	}
	.headerLogo {
		position: absolute;
		width: 189.13px;
		height: 70px;
		left: 20px;
		top: 6px;
	}
	
	.logo {
		position: relative;
		width: 317.17px;
		height: 264.05px;
		left: 201px;
		top: 6px;
	}
	
	.search {
		width: 129px;
		height: 38px;
		font-weight: 900;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 900;
		font-size: 12px;
		line-height: 18px;
		
	}
	
	.id {
		position: absolute;
		left: 627px;
		border: 5px solid #75CB5E;
		box-sizing: border-box;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		padding-top : 1px;
		top: 169px;
		background: #FFFFFF;
		color: #636363;
	}
	
	.id:hover {
		background: #75CB5E;
		color : #FFFFFF;
		top: 159px;
		transition: all 0.2s;
	}
	
	.pwd {
		position: absolute;
		left: 764px;
		border: 5px solid #2BAF66;
		box-sizing: border-box;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		top: 169px;
		background: #FFFFFF;
		color: #636363;
	}
	
	.pwd:hover {
		background: #2BAF66;
		color : #FFFFFF;
		top: 159px;
		transition: all 0.2s;
	}
	
	content {
		position: absolute;
		width: 721px;
		height: 575px;
		left: 591px;
		top: 197px;
		
		background: #FFFFFF;
		border: 5px solid #D9D9D9;
		box-sizing: border-box;
		border-radius: 30px;
	
	}
	
	#loginBtn {
		position: absolute;
		width: 376px;
		height: 59px;
		left: 172px;
		top: 408px;
		
		background: #75CB5E;
		
		border: none;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 31.2919px;
		line-height: 43px;
		
		letter-spacing: -0.04em;
		
		color: #FFFFFF;
	}
	
	#uesrId {
		position: absolute;
		width: 376px;
		height: 59px;
		left: 172px;
		top: 258px;
		
	  	font-family: Noto Sans;
		font-style: normal;
		font-weight: 900;
		
		border: 2px solid #75CB5E;
		box-sizing: border-box;
	}
	
	#userPwd {
		position: absolute;
		width: 376px;
		height: 59px;
		left: 172px;
		top: 333px;
		
		color : #DBDBDB;
		
		border: 2px solid #75CB5E;
		box-sizing: border-box;
	}
	
	input::placeholder {
		color: #DBDBDB;
		font-family: sans-serif;
		font-weight: 900;
	}
	
	.error {
	width: 100%;
	height: 650px;
	background: white;
	}
	
