@charset "UTF-8";

.k-content {
	position: absolute;
	left: 241px;
	top: 81px;
	height: 1051px;
	width: 1662px;
}


.k-mainFrame {
	width: 1626px;
	height: 841px;
	position: absolute;
	left: 18px;
	top: 15px;
}

.k-leftFrame {
	width: 501px;
	height: 841px;
	position: absolute;
}

.k-left { 
	width: 501px;
}

.k-centerFrame {
	width: 723px;
	height: 841px;
	position: absolute;
	left: 512px;
}
.k-center {
	width: 723px;
}

.k-rightFrame {
	width: 380px;
	height: 841px;
	position: absolute;
	left: 1246px;
}
.k-right {
	 width: 380px;
}


.k-mainHeader {
	height: 60px;
	background: #75CB5E;
	position: absolute;
}
.k-mainRow {
	height: 56px;
	border: 1px solid #CBEEC1;
	border-left: 10px solid #2BAF66; 
	position: absolute;
}

.k-mainHeaderText{
	position: absolute;
	
	top: 7px;
	left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 31px;
	line-height: 41px;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	
	color: #FFFFFF;
}

.k-mainHeaderText:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.k-mainText {
	top: 14px;
	left: 10px;
	position: absolute;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 17px;
	line-height: 24px;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	
	color: #636363;
}


.k-profileArea {
	width: 501px;
	height: 156px;
	border: 1px solid #75CB5E;
	position: absolute;
}

#k-mlr1,
#k-mlr2,
#k-mlr3,
#k-mlr4 {
	width: 473px;
	left: 15px;
}

#k-mlr1 {
	top: 75px;
}
#k-mlr2 {
	top: 137px;
}
#k-mlr3 {
	top: 199px;
}
#k-mlr4 {
	top: 261px;
}




.k-profileTop {
	padding-top:15px;
	padding-left:45px;
	width: 501px;
	height: 122px;
	position: absolute;
	border-top: 8px solid #75CB5E;
}

.k-profileDown {
	width: 501px;
	height: 34px;
	position: absolute;
	top: 122px;
}



.k-approvalArea {
	width: 501px;
	height: 333px;
	border: 1px solid #75CB5E;
	position: absolute;
	top: 168px;
}

.k-projectArea {
	width: 501px;
	height: 329px;
	border: 1px solid #75CB5E;
	position: absolute;
	top: 512px ;
}





.k-calendarArea {
	width: 723px;
	height: 501px;
	border: 1px solid #75CB5E;
	position: absolute;
}

.k-postListArea {
	width: 723px;
	height: 329px;
	border: 1px solid #75CB5E;
	position: absolute;
	top: 512px;
}

#k-mcr1,
#k-mcr2,
#k-mcr3,
#k-mcr4 {
	font-size: 12px;
	width: 693px;
	left: 15px;
}

#k-mcr1 {
	top: 75px;
}
#k-mcr2 {
	top: 137px;
}
#k-mcr3 {
	top: 199px;
}
#k-mcr4 {
	top: 261px;
}

.k-postTitle {
	background: #75CB5E;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	margin-right: 15px;
	color: white;
}

.k-writeDate {
	color: #c0c0c0;
}

.k-writer {
	
	padding-left: 35px;
	padding-right: 15px;
}

.k-noticeTitle {
	padding-right: 15px;
}
.k-writeDate2 {
	color: #c0c0c0;
}

.k-writeDate2,
.k-noticeTitle {
	font-size: 13px;
}





.k-todoListArea {
	width: 380px;
	height: 501px;
	border: 1px solid #75CB5E;
	position: absolute;
}

.k-noticeArea {
	width: 380px;
	height: 329px;
	border: 1px solid #75CB5E;
	position: absolute;
	top: 512px;
}

.k-todoText { 
	margin-left: 15px;
	
}




#k-mrr1,
#k-mrr2,
#k-mrr3,
#k-mrr4, 
#k-mrr5,
#k-mrr6 {
	width: 353px;
	left: 15px;
}


#k-mrr1 {
	top: 80px;
}
#k-mrr2 {
	top: 150px;
}
#k-mrr3 {
	top: 220px;
}
#k-mrr4 {
	top: 290px;
}
#k-mrr5 {
	top: 360px;
}
#k-mrr6 {
	top: 430px;
}

#k-mrn1,
#k-mrn2,
#k-mrn3,
#k-mrn4 {
	width: 353px;
	left: 15px;
}

#k-mrn1 {
	top: 75px;
}
#k-mrn2 {
	top: 137px;
}
#k-mrn3 {
	top: 199px;
}
#k-mrn4 {
	top: 261px;
}
.k-profileDown > a {
	border-top : 5px solid #75CB5E;
	border-radius : 3px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 17px;
	color: #636363;
}

.k-222 {
	margin-left: 80px;
	margin-right: 80px;
}



.k-111:hover,
.k-222:hover,
.k-333:hover,
.k-noticeTitle:hover,
#k-mlr2:hover,
#k-mlr3:hover,
#k-mlr4:hover,
#k-mrn1:hover,
#k-mrn2:hover,
#k-mrn3:hover,
#k-mrn4:hover,
#k-mrr1:hover,
#k-mrr2:hover,
#k-mrr3:hover,
#k-mrr4:hover, 
#k-mrr5:hover,
#k-mrr6:hover {
	color: #636363;
	text-decoration: none;
}


.k-mainimage {
	margin-left: 20px;
    width: 69px;
    height: 69px;
    border-radius: 70%;
    border: 2px solid #636363;
}

#k-empName,
#k-job,
#k-hi {
	font-family: 'Noto Sans KR', sans-serif;
	color: #636363;
	position : absolute;
}

#k-empName { 
	
	font-size: 29px;
	font-weight: 900;
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 33px;
}

#k-job {
	font-size: 25px;
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 38px;
	margin-left: 105px;
}

#k-hi {
	font-size: 15px;
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
	margin-left: 175px;
}