@charset "UTF-8"; 

.k-info-content {
   position: absolute;
   left: 241px;
   top: 81px;
   height: 1051px;
   width: 1662px;

}


.k-empArea{
	position: absolute;
	
	left: 600px;
	top: 200px;
	width: 700px;
	height: 700px;
	
	
}




.k-Table-area{
	width: 900px;
	height: 500px;
	
}


.menuName {
   position: absolute;
   width: 412px;
   height: 51px;
   left: 50px;
   top: 38px;
   
   font-family: 'Noto Sans KR', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 37.33px;
   line-height: 51px;
   
   display: flex;
   align-items: center;
   letter-spacing: -0.04em;
   
}


.k-detail {
   position: absolute;
   left: 30px;
   top: 153px;
   width: 1605px;
   height:689px;
   background: #black;
   box-sizing: border-box;
}

.k-detailLeftFrame {
   display: inline-block;
   width: 449px;
   height: 689px;
   
   background: #F9F9F9;
   border: 1px solid #D9D9D9;
   box-sizing: border-box;
}


.k-profileHeader {
   position: absolute;
   width: 414px;
   height: 57px;
   left: 18px;
   top: 17px;
}

.k-profileSpan {
   position: absolute;
   width: 414px;
   height: 279px;
   left: 18px;
   top: 81px;
}

.k-profileLeft{
	display: inline-block;
	border: 1px solid #8E8E8E;
	width: 100px;
	height: 277px;
	background: #75CB5E;
	
}
.k-profileLeft > a{
	position: absolute;
	padding-left: 30px;
	padding-top: 125px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#thumbnailprofileimage{
	
	position: absolute;
	left: 0px;
   	top: 0px;
	width: 309px; 
	height: 276px; 
	display: block;
}

.k-signLeft > a {
	position: absolute;
	padding-left: 30px;
	padding-top: 95px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.k-profileRight {
	position: absolute;
	padding-left: 30px;
	padding-top: 95px;
	display: inline-block;
	border: 1px solid #8E8E8E;
	width : 310px;
	height: 277px;
}



.k-profileAdd {
   position: absolute;
	border: 1px solid #8E8E8E;
	width: 414px;
   height: 27px;
   top: 373px;
   left: 18px;
}

.k-signAdd {
   position: absolute;
   border: 1px solid #8E8E8E;
   width: 414px;
   height: 27px;
   top: 634px;
   left: 18px;
}


.k-signSapn {
   position: absolute;
   width: 414px;
   height: 269px;
   left: 18px;
   top: 414px;
}


.k-signLeft{
	position: absolute;
	display: inline-block;
	border: 1px solid #8E8E8E;
	width: 100px;
	height: 205px;
	background: #75CB5E;
	
}


.k-signRight {
	position: absolute;
	display: inline-block;
	border: 1px solid #8E8E8E;
	left: 102px;
	width : 310px;
	height: 205px;
}


.k-rightHeader {
   position: absolute;
   width: 1112px;
   height: 57px;
   left: 472px;
   top: 17px;
}

.k-empInfo {
   position: absolute;
   width: 1112px;
   height: 600px;
   left: 472px;
   top: 81px;
}

#k-empInfoTable {
	width: 100%;
}
#k-empInfoTable > tbody > tr > td {
   border: 1px solid #8E8E8E;
  height: 50px;
	
}
#k-empInfoTable > tbody > tr,
#k-empCallTable > tbody > tr {
}

#k-empCallTable {
	width: 100%;
}
#k-empCallTable > tbody > tr > td {
   border: 1px solid #8E8E8E;
  height: 50px;
	
}
#k-empinfo1 {
	width: 115px;
	background: #75CB5E;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#k-empinfo2 {
	width:230px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#k-empinfo3 {
	width: 120px;
	background: #75CB5E;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
}
#k-empinfo4 {
	width: 150px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
#k-empinfo5 {
	width: 100px;
	background: #75CB5E;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#k-empinfo6 {
	width: 150px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#k-empinfo7 {
	width:470px;
	font-size: 16px;
	font-weight: bold;
	
}
#k-empinfo8 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#k-address1 {
	
	left: 125px;
   	top: 490px;
	position: absolute;
	display: inline-block;
	width: 340px;
	height: 40px;
	
}

#k-address2 {
	 
	
	display: inline-block;
	width: 400px;
	height: 40px;
	 position: absolute;
	left: 125px;
   	top: 550px;
	
}
#k-address3 {
	 
	 margin-right: 100px;
	display: inline-block;
	width: 400px;
	height: 40px;
	 position: absolute;
	left: 690px;
   	top: 550px;
	
}
#profileimage{
	
	position: absolute;
   
   left: 0px;
   	top: 3px;
}

#signImage{
	
	position: absolute;
   
   left: 0px;
   	top: 2px;
}


#send-file-1 {
	
	position: absolute;
   
   left: 373px;
   	top: 3px;
	
}

#click-file-2 {
	
	position: absolute;
   
   left: 373px;
   	top: 2px;
	
}

#k-searchZipCode{
	display: inline-block;
	 position: absolute;
   
   left: 470px;
   	top: 495px;
   
}
#k-info-input{
	width: 390px;
	height: 40px;
	margin-right: 30px;
}

#k-info-input1{
	position: absolute;
	left: 660px;
	top: 125px;
	
	width: 150px;
	height: 40px;
}

#k-info-input3{
	position: absolute;
	left: 950px;
	top: 125px;
	
	width: 150px;
	height: 40px;
}

#k-info-input2{
	width: 400px;
	height: 40px;
	margin-right: 30px;
}

#k-empCallTable {
	width: 100%;
	margin-top: 10px;
}
#k-empCallTable > tbody > tr > td {
   border: 1px solid #8E8E8E;
  height: 50px;
	
}

.empDetailBtnArea{
	position: absolute;
	left: 900px;
	top: 870px;
	
}

.eback-btn {
background-color: gray;
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

.ek-btn {
background-color: #75CB5E;
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

.k-search-area{
	width: 1700px;	
}

#k-searchCondition{
	
	width: 150px;
	height: 40px;
}

k-searchValue{
	width: 300px;
	height: 40px;
	
}

#k-searchValue{
	width: 500px;
	height: 40px;
}

#k-createIdBtn{
	
	
}

#k-short{
	width: 300px;
	height: 40px;
}
