@charset "UTF-8";

.pageTitle {position: fixed; left: 0; top: 0; width: 100%; height: 52px; line-height: 52px; color: #fff; text-align: center; background: #111;}
article {padding: 52px 3% 0;}
article .block {padding: 20px; min-height: 500px;}
article .block p {line-height: 22px; color: #fff; font-size: 16px; font-weight: 600;}
article .block:nth-child(2n+1) {background: #999;}
article .block:nth-child(2n) {background: #222;}



.m-org-content {
   position: absolute;
   left: 241px;
   top: 81px;
   height: 1051px;
   width: 1662px;

}



.org-content{ 
	position: absolute;
	
	left: 241px;
	top: 81px;
}



.sideree{
	position: absolute;
	left:30px;
	top:100px;
	
	font-size: 10px;
}





.m-btn {
background-color: yellowgreen;
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 10px;
border-radius: 5%;
}

.m-orgTreeArea{
	position: absolute;
	left: 60px;
	top: 280px;
	border: 1px solid gray;
}



#m-table1{
	position: absolute;
	
	left: 700px;
	top: 200px;
	border: 1px solid gray;
	width: 600px;
	height: 600px;

}






.treeview, .treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol {
	margin: 1em 0;
	display: none;
}

.treeview .hover {
	color: red;
	cursor: pointer;
}

.treeview li {
	background: url(../images/treeview-default-line.gif) 0 0 no-repeat;
}

.treeview li.collapsable, .treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px
}

.treeview li.lastCollapsable, .treeview li.lastExpandable {
	background-image: url(../images/treeview-default.gif);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px
}

.treeview li.lastExpandable {
	background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea
	{
	background-position: 0;
}

.treeview-red li {
	background-image: url(../images/treeview-red-line.gif);
}

.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable
	{
	background-image: url(../images/treeview-red.gif);
}

.treeview-black li {
	background-image: url(../images/treeview-black-line.gif);
}

.treeview-black .hitarea, .treeview-black li.lastCollapsable,
	.treeview-black li.lastExpandable {
	background-image: url(../images/treeview-black.gif);
}

.treeview-gray li {
	background-image: url(../images/treeview-gray-line.gif);
}

.treeview-gray .hitarea, .treeview-gray li.lastCollapsable,
	.treeview-gray li.lastExpandable {
	background-image: url(../images/treeview-gray.gif);
}

.treeview-famfamfam li {
	background-image: url(../images/treeview-famfamfam-line.gif);
}

.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable,
	.treeview-famfamfam li.lastExpandable {
	background-image: url(../images/treeview-famfamfam.gif);
}

.treeview .placeholder {
	background: url(../images/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li {
	padding: 3px 0 2px 16px;
}

.filetree span.folder, .filetree span.file {
	padding: 1px 0 1px 16px;
	display: block;
}

.filetree span.folder {
	background: url(images/folder.gif) 0 0 no-repeat;
}

.filetree li.expandable span.folder {
	background: url(../images/folder-closed.gif) 0 0 no-repeat;
}

.filetree span.file {
	background: url(../images/file.gif) 0 0 no-repeat;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html>body {
	font-size: 16px;
	font-size: 68.75%;
} /* Reset Base Font Size */
body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
	background: #fff;
	color: #333;
}

h1, h2 {
	font-family: 'trebuchet ms', verdana, arial;
	padding: 10px;
	margin: 0
}

h1 {
	font-size: large
}

#banner {
	padding: 15px;
	background-color: #06b;
	color: white;
	font-size: large;
	border-bottom: 1px solid #ccc;
	background: url(bg.gif) repeat-x;
	text-align: center
}

#banner a {
	color: white;
}

#main {
	padding: 1em;
}

a img {
	border: none;
}

.m-orgDetailArea{
	position:absolute;
	left:450px;
	top: 280px;
	width: 1000px;
	height: 610px;
	border: 1px solid gray;
	
/* 	border: 1px solid red; */
	
	
}

.m-orgDetailArea2{
	position: absolute;
	left: 200px;
	top: 100px;
	width: 600px;
	height: 400px;
	/* border: 1px solid yellow; */
	
}

.orgDetailBtnArea{
	position: absolute;
	left: 150px;
	top: 270px;
}

/* #m-detailHeader{
	position: absolute;
	top: 30px;
	width: 700px;
	height: 400px;
	border: 1px solid blue;
} */

#m-detailleft1{
	width: 23%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #75CB5E;
	color: white;
	text-align: center;
	padding-top: 15px;
	border-radius: 10px;
}

#m-detailRight1{
	width: 75%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 15px;
	border-radius: 10px;
}

#m-detailleft2{
	width: 23%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #75CB5E;
	color: white;
	text-align: center;
	padding-top: 15px;
	border-radius: 10px;
}

#m-detailRight2{
	width: 75%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 15px;
	border-radius: 10px;
}

#m-detailleft3{
	width: 23%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #75CB5E;
	color: white;
	text-align: center;
	padding-top: 33px;
	border-radius: 10px;
}

#m-detailRight3{
	width: 75%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 33px;
	border-radius: 10px;
}


#orgDetailBtn1{
	background-color: gray;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

#orgDetailBtn2{
	background-color: #75CB5E;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

#orgDetailBtn3{
	background-color: #2BAF66;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

.m-orgInfoInput{
	border: none;
	
}


