@charset "UTF-8";

.pagingArea > button {
	background: none;
	border: none;
	color: #525252;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Noto Sans KR', sans-serif;
	border-radius: 6px;
}

.pagingArea > button:hover {
}

.pagingArea > #startPage,
.pagingArea > #prevPage,
.pagingArea > #nextPage,
.pagingArea > #maxPage
 {
 	background: #75CB5E; color: white;
}