@charset "UTF-8";

.pageTitle {position: fixed; left: 0; top: 0; width: 100%; height: 52px; line-height: 52px; color: #fff; text-align: center; background: #111;}
article {padding: 52px 3% 0;}
article .block {padding: 20px; min-height: 500px;}
article .block p {line-height: 22px; color: #fff; font-size: 16px; font-weight: 600;}
article .block:nth-child(2n+1) {background: #999;}
article .block:nth-child(2n) {background: #222;}



.k-pass-content {
   position: absolute;
   left: 241px;
   top: 81px;
   height: 1051px;
   width: 1662px;

}

/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html>body {
	font-size: 16px;
	font-size: 68.75%;
} /* Reset Base Font Size */
body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
	background: #fff;
	color: #333;
}

h1, h2 {
	font-family: 'trebuchet ms', verdana, arial;
	padding: 10px;
	margin: 0
}

h1 {
	font-size: large
}

#banner {
	padding: 15px;
	background-color: #06b;
	color: white;
	font-size: large;
	border-bottom: 1px solid #ccc;
	background: url(bg.gif) repeat-x;
	text-align: center
}

#banner a {
	color: white;
}

#main {
	padding: 1em;
}

a img {
	border: none;
}

.k-orgDetailArea{
	position:absolute;
	left:550px;
	top: 250px;
	width: 600px;
	height: 500px;
	
/* 	border: 1px solid red; */
	
	
}

#k-detailleft1{
	
	position:absolute;
	left:0px;
	top: 25px;
	
	width: 23%;
	height: 50px;
	
	background-color: #75CB5E;
	color: white;
	text-align: center;
	padding-top: 15px;
}


#k-detailleft2{
	position:absolute;
	left:0px;
	top: 80px;
	
	width: 23%;
	height: 50px;
	
	background-color: #75CB5E;
	color: white;
	text-align: center;
	padding-top: 15px;
}

#k-detailleft3{
	position:absolute;
	left:0px;
	top: 135px;
	
	width: 23%;
	height: 50px;
	
	background-color: #75CB5E;
	color: white;
	text-align: center;
	padding-top: 15px;
}


#k-detailRight1{
	position:absolute;
	left:138px;
	top: 25px;
	
	width: 75%;
	height: 50px;
	
	text-align: center;
	padding-top: 15px;
}

#k-detailRight2{
	position:absolute;
	left:138px;
	top: 80px;
	
	width: 75%;
	height: 50px;
	
	text-align: center;
	padding-top: 15px;
	
}


#k-detailRight3{
	position:absolute;
	left:138px;
	top: 135px;
	width: 75%;
	height: 50px;
	
	text-align: center;
	padding-top: 15px;
}

.k-orgDetailBtnArea{
	position: absolute;
	left: 250px;
	top: 250px;
}

#k-orgDetailBtn1{
background-color: #75CB5E;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

#k-orgDetailBtn2{
background-color: #75CB5E;
border: none;
color: white;
padding: 10px 25px;
align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 15px 1px;
cursor: pointer;
font-weight: bold;
border-radius: 14px;
border-radius: 5%;
}

#k-detailleft1,
#k-detailleft2,
#k-detailleft3,
#k-orgDetailBtn1,
#k-orgDetailBtn2 {
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
    border-radius: 3px;
}

#k-detailRight1,
#k-detailRight2,
#k-detailRight3 {
	margin-left: 5px;
	border-radius: 3px;
}

.k-orgInfoInput{
	border: none;
	color: #848484;
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-bottom: 10px;
	width: 430px;
	
}

.k-orgInfoInput:focus {
	outline: none;
}
