/* @charset "UTF-8"; */
.b-table>th {
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	width: 1800px;
	text-align: center;
}

.b-talbe>td {
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	width: 1800px;
	text-align: center;
}

.b-table {
	position: absolute;
	margin-left: 30px;
	border: none;
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	width: 1600px;
	left: 3px;
}

.b-table2 {
	position: absolute;
	margin-left: 30px;
	border: none;
	border-collapse: collapse;
	font-weight: bold;
	padding: 10px;
	width: 1600px;
	left: 3px;
	top: 250px;
}

.b-btn {
	background-color: yellowgreen;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 15px 1px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 10px;
	width: 100px;
}

.b-detailbtn {
	position: relative;
	top: 520px;
	left: 600px;
}

.b-updatebtn {
	position: relative;
	top: 450px;
}

.b-btn2 {
	background-color: yellowgreen;
	border: 1;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 15px 1px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 10px;
	border-radius: 5%;
}

.b-content {
	position: absolute;
	left: 241px;
	top: 81px;
	height: 1051px;
	width: 1662px;
}

.b-search-list {
	width: 70px;
	height: 30px;
	position: relative;
	z-index: 1;
}

.b-search-input {
	width: 300px;
	height: 30px;
}

.b-th1 {
	width: 30px;
	height: 40px;
	border: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
	background-color: yellowgreen;
	color: white;
}

.b-td1 {
	width: 30px;
	height: 40px;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
}

.b-th2 {
	width: 200px;
	height: 40px;
	border: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
	background-color: yellowgreen;
	color: white;
}

.b-td2 {
	width: 200px;
	height: 40px;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
}

.b-th3 {
	width: 30px;
	height: 40px;
	border: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
	background-color: yellowgreen;
	color: white
}

.b-td3 {
	width: 30px;
	height: 40px;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
}

.b-th4 {
	width: 30px;
	height: 40px;
	border: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
	background-color: yellowgreen;
	color: white
}

.b-td4 {
	width: 30px;
	height: 40px;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
}

.b-th5 {
	width: 40px;
	height: 40px;
	border: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
	background-color: yellowgreen;
	color: white
}

.b-td5 {
	width: 40px;
	height: 40px;
	border-bottom: 3px solid #EFEFEF;
	font-size: 18px;
	text-align: center;
}

.b-search-area2 {
	position: relative;
	background-color: #EFEFEF;
	width: 1600px;
	left: 30px;
	border-radius: 10px;
}

.b-select2 {
	position: relative;
	left: -280px;
	width: 130px;
	height: 46px;
	border-radius: 10px;
	border-radius: 5%;
}

.b-input2 {
	position: relative;
	left: -250px;
	width: 589px;
	height: 45px;
}

.b-search-btn2 {
	position: relative;
	left: -220px;
	width: 90px;
	height: 45px;
}

.b-write2 {
	position: relative;
	left: 280px;
	width: 141px;
	height: 46px;
}

#b-detail-content {
	border: 5px solid #EFEFEF;
	resize: none;
	width: 1500px;
	height: 340px;
}

#b-insert-title {
	position: relative;
	top: 1px;
	left: -520px;
	width: 400px;
}

#b-insert-writer {
	position: relative;
	top: 1px;
	left: -520px;
	width: 400px;
}

#b-insert-content {
	border: 5px solid #EFEFEF;
	position: relative;
	resize: none;
	width: 1550px;
	height: 300px;
	left: -20px;
}

#b-update-title {
	position: relative;
	top: 1px;
	left: -520px;
	width: 400px;
}

#b-update-writer {
	position: relative;
	top: 1px;
	left: -520px;
	width: 400px;
}

#b-update-date {
	position: relative;
	top: 1px;
	left: -520px;
	width: 400px;
}

#b-update-content {
	border: 5px solid #EFEFEF;
	position: relative;
	resize: none;
	width: 1550px;
	height: 300px;
	left: -20px;
}

.notice-pagingArea {
	left: 700px;
	top: 700px;
	position: absolute;
}

.notice-pagingArea>button {
	background: none;
	border: none;
	color: #525252;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Noto Sans KR', sans-serif;
	border-radius: 6px;
}

.notice-pagingArea>#startPage, 
.notice-pagingArea>#prevPage,
.notice-pagingArea>#nextPage, 
.notice-pagingArea>#maxPage {
	background: #75CB5E;
	color: white;
}
/*-----------------------------------------------------approvalDocList.css-------------------------------------------------*/
.b-search-area {
	position: absolute;
	background-color: #EFEFEF;
	width: 1600px;
	left: 30px;
	border-radius: 10px;
}

.b-select-area {
	position: relative;
	width: 1600px;
	left: 600px;
	top: -5px;
}

.b-select {
	position: relative;
	left: 350px;
	top: 1px;
	width: 106px;
	height: 46px;
}

.b-input {
	position: relative;
	left: 370px;
	top: 1px;
	width: 589px;
	height: 45px;
}


.b-search-btn {
	position: relative;
	left: 390px;
	top: 1px;
	width: 140px;
	height: 45px;
}

.b-condition {
	width: 133px;
	height: 39px;
	border: 1;
	background-color: white;
	font-weight: bolder;
}

.b-btn3 {
	width: 133px;
	height: 39px;
	border: 1;
	background-color: yellowgreen;
	color: white;
	font-weight: bolder;
}

#petbtn {
	position: relative;
	top: -39px;
	left: 155px;
	background-color: yellowgreen;
    color: white;
}

#allbtn {
	position: relative;
	top: -39px;
	left: 10px;
}

#actbtn {
	position: relative;
	left: 150px;
	background-color: yellowgreen;
    color: white;
}