@charset "UTF-8"; 

.p-content {
	position: absolute;
	left: 241px;
	top: 81px;
	height: 1051px;
	width: 1662px;

}

#underline {
	top : 300px;
}

.menuName {
	position: absolute;
	width: 412px;
	height: 51px;
	left: 50px;
	top: 38px;
	
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 37.33px;
	line-height: 51px;
	
	display: flex;
	align-items: center;
	letter-spacing: -0.04em;
	
}

#menuNameUnderline {
	margin-top: 120px;
	border-bottom: 1px solid #D9D9D9;
	width: 1606px;
	margin-left: auto;
	margin-right: auto;
}

#tableUnderLine {
	
	margin-left: auto;
	margin-right: auto;
}

.p-projectSearchBtn {
	position: absolute;
	width: 144px;
	height: 30px;
	top: 127px;
	border: 5px solid #75CB5E;
	box-sizing: border-box;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-top : 1px;
	background: #FFFFFF;
	color: #636363;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	line-height: 18px;
}

#p-searchAllProject {
	left: 1150px;
}

#p-searchProjectInProgress {
	left: 1300px;
}

#p-searchCompletedProject {
	left: 1450px;
}

#p-searchAllProject:hover,
#p-searchProjectInProgress:hover, 
#p-searchCompletedProject:hover {
	background: #75CB5E;
	color : #FFFFFF;
	top: 123px;
	transition: all 0.2s;
}


.projectPage {
	position: absolute;
	background: #EFEFEF;
	Width: 1606px;
	Height: 63px;
	Top: 157px;
	left: 30px;
}

#p-addProject {
	height: 35px;
	left: 1448px;
	top: 15px;
	width: 150px;
	position: absolute;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	background: #75CB5E; 
	color: white;
	border: none;
	border-radius: 8px;
	padding-bottom: 2px;
	
}

#p-addProject:hover {
	background: #2BAF66;
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  	box-shadow: 0 2px 2Spx 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

.projectPage > a {
	width: 627px;
	height: 51px;
	left: 298px;
	top: 193px;
	padding-left: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30.33px;
	display: flex;
	align-items: center;
	letter-spacing: 0.17em;
	
	font-color: #BBBBBB;
}
.pjt {
	margin-top: 80px;
}

.pj {
	border-collapse: separate;	
	border-spacing: 60px 60px;
}

.tree > td {
	width: 240px;
	height : 240px;
	border-width: 15px;
	border-style: solid;
	border-radius: 2em;
	color : #F0EEEE;
	padding:5px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
  	box-shadow: 0 14px 14px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

.tree > td > #p-projectPeriod {
	border: 3px solid #2BAF66;
	border-radius: 8px;
	padding-left: 13px;
	padding-right: 13px;
	margin-right: 3px;
	position: relative;
	color: #525252;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 10px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

.tree > td > #p-projectSuccess {
	border: 3px solid #2BAF66;
	border-radius: 8px;
	padding-left: 5px;
	padding-right: 5px;
	color: #525252;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 10px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

#p-projectTree {
	width: 140px;
	height: 140px;
	
}

.tree > td > #p-projectTitle {
	position: relative;
	color: #525252;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
	font-size: 20px;
	text-shadow: 1px 1px 2px #C4C4C4;
}


#projectMember {
	border: 1px solid ba; 
}


.p-funcFrame {
	position: absolute;
	left: 30px;
	top: 153px;
	width: 1605px;
	height:689px;
	box-sizing: border-box;
}

.p-funcLeftFrame {
	display: inline-block;
	width: 449px;
	height: 693px;
	
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
}
.p-funcRigthFrame {
	display: inline-block;
	width: 1149px;
	height: 693px;
	left: 460px;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	
}

.p-projectNameArea {
	position: absolute;
	width: 414px;
	height: 57px;
	left: 18px;
	top: 17px;
	border: 1px solid #D9D9D9;
}

.p-projectContent {
	position: absolute;
	width: 414px;
	height: 279px;
	left: 18px;
	top: 81px;
	border: 1px solid #D9D9D9;
	padding: 15px;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
}

.p-funcAddAndRemove {
	position: absolute;
	width: 414px;
	height: 75px;
	left: 18px;
	top: 368px;
	border: 1px solid #D9D9D9;
}

.p-funcAddAndRemove > button {
	position: absolute;
	width: 190px;
	height: 50px;
	margin-top: 10px;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	background: #75CB5E;
	color: white;
}

#p-submitBtn {
	width: 62.82px;
    height: 42px;
    display: inline-block;
    background: #2BAF66;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
}

.p-funcAdd {
	margin-left:13px; 
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
}

.p-funcDelete {
	margin-left:210px; 
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	
}

.p-funcModify {
	margin-left:309px; 
	margin-top:3px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	background: #75CB5E;
	color: white;
	
}

.p-funcTextarea {
	margin-left:2px;
	margin-top: 4px;
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
	border: none;
	resize: none;
}

.p-funcTextarea:focus {
	outline: none;
}

.p-funcTextarea:hover {
	cursor: default;
}

.p-funcContent {
	position: absolute;
	width: 414px;
	height: 230px;
	left: 18px;
	top: 451px;
	border: 1px solid #D9D9D9;
}

.p-funcBoardHeader {
	position: absolute;
	width: 1112px;
	height: 57px;
	left: 472px;
	top: 17px;
	border: 1px solid #D9D9D9;
}

.p-funcBoardList {
	position: absolute;
	width: 1112px;
	height: 600px;
	left: 472px;
	top: 81px;
	border: 1px solid #D9D9D9;
	overflow: auto;
}

#p-projectComplete {
	position: absolute;
	height: 35px;
	left: 850px;
	top: 10px;
	width: 250px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	background: #75CB5E; 
	color: white;
	border: none;
	border-radius: 8px;
	padding-bottom: 2px;
}

#p-projectComplete:hover {
	background: #2BAF66; 
}

#p-projectName {
	display: block;
	width: 95%;
	height: 46px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	padding: 3px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 26px;
	font-family: 'Noto Sans KR', sans-serif;
	
}

#p-projectName {
	display: block;
	width: 95%;
	height: 46px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	padding: 3px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 26px;
	font-family: 'Noto Sans KR', sans-serif;
	
}

#p-deleteProject {
	width: 200px;
	display: block;
	margin-top: 195px;
	margin-left: 190px;
	border: 1px solid #8E8E8E;
	border-radius: 5px;
	background: #5A5A5A;
	color: white;
}


.p-funcBoardHeader {
	position: absolute;
	background: #EFEFEF;
}

.p-funcBoardHeader > a {
	display: block;
	width: 95%;
	height: 46px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	padding: 3px;
	padding-left: 4px;
	font-weight: bold;
	font-size: 26px;
	font-family: 'Noto Sans KR', sans-serif;
	align-items: center;
	letter-spacing: 0.1em;
	color: #BBBBBB; 
}

.p-funcTable {
	border-collapse: separate;	
	border-spacing: 20px 10px;
	text-align: center;
}

.p-funcTable > tbody > tr > td {
	align: center;
	width: 220px;
	height: 100px;
	border: 7px solid #E3E3E3;
	box-sizing: border-box;
	border-radius: 21.92px;
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

.p-funcTable > tbody > tr > td > a, 
.p-funcTable > tbody > tr > td > p {
	display: none;
}

.p-funcTable > tbody > tr > td > strong {
	font-weight: bold;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
}

.p-funcTable > tbody > tr > td > input {
	background: none;
	border: none;
	padding-top: 20px;
	padding-left: 150px;
}

.p-funcTable > tbody > tr > td > div {
	width: 100%;
	height: 25px;
	margin: 0;
	background: #2BAF66;
	border-bottom: 7px solid #E3E3E3;
	box-sizing: border-box;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 15px;
}

.p-funcTd:hover {
	
	border-color: #2BAF66;
	
}

.p-projectInseartHeader{
    width: 103px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
   	color : #636363;
   	font-family: 'Noto Sans KR', sans-serif;
    padding: 5px;
    border-left: 4px solid #75CB5E; 
    border-radius: 3px;
}

.p-projectModalRow{
	display: inline-block;
    width: 870px;
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
    padding: 5px;
}

#p-startDate2,
#p-targetDate2 {
	width: 330px;
    padding-left: 15px;
    margin-left: 15px;
    border: 1px solid #D9D9D9;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

#p-projectTitle2 {
	font-size: 16px;
    top: 15px;
    border: none;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 15px;
}

#p-projectTitle::placeholder {
	 color: #c8c8c8;
	 font-weight: normal;
}

#p-projectContent {
	width: 730px;
	top: 15px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

#p-projectContent::placeholder {
	 color: #c8c8c8;
	 font-weight: normal;
}

.p-selectBox {
	width: 103px;
	height: 27px;
	font-weight: bold;
	font-size: 16px;
	margin-left: 5px;
	border: 1px solid #D9D9D9; 
}

.p-inputInfo {
	width: 505px;
	font-weight: bold;
	font-size: 16px;
	height: 27px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #D9D9D9; 
}

.p-inputInfoBtn {
	position: absolute;
	height: 27px;
	border: none;
	font-weight: bold;
	font-size: 8px;
	background: #75CB5E;
	color: white;
	border-radius: 5px;
}

.deleteEmp {
	left : 825px;
}

.p-projectTextArea {
	width: 857px; 
	height: 159px;
	border: none;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
	resize: none;
}

#company1,
#parentDept1,
#childDept1,
#reference {
	width: 130px;
	font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

#reference {
	width: 220px;
	margin-right: 5px;
}

#refReceiverName {
	font-size: 14px;
}


