@charset "UTF-8";


	.s-wrap {
	width: 100%;
	height: 970px;
	
	background: white;
	}

	header {
		position: absolute;
		width: 1903px;
		height: 83px;
		left: 0px;
		top: 0px;
		
		background: #FFFFFF;
		border: 1px solid #D9D9D9;
		box-sizing: border-box;
	}
	.s-headerLogo {
		position: absolute;
		width: 189.13px;
		height: 70px;
		left: 20px;
		top: 6px;
	}
	
	.s-logo {
		position: relative;
		width: 317.17px;
		height: 264.05px;
		left: 201px;
		top: 6px;
	}
	
	.k-search {
		width: 129px;
		height: 38px;
		font-weight: 900;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 900;
		font-size: 12px;
		line-height: 18px;
		
	}
	
	.k-id {
		position: absolute;
		left: 627px;
		border: 5px solid #75CB5E;
		box-sizing: border-box;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		padding-top : 1px;
		top: 169px;
		background: #FFFFFF;
		color: #636363;
	}
	
	.k-pwd {
		position: absolute;
		left: 764px;
		border: 5px solid #2BAF66;
		box-sizing: border-box;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background: #2BAF66;
		color : #FFFFFF;
		top: 159px;
	}
	
	.k-id:hover {
		background: #75CB5E;
		color : #FFFFFF;
		top: 159px;
		transition: all 0.2s;
	}
	
	content {
		position: absolute;
		width: 721px;
		height: 575px;
		left: 591px;
		top: 197px;
		
		background: #FFFFFF;
		border: 5px solid #D9D9D9;
		box-sizing: border-box;
		border-radius: 30px;
	
	}
	
	#SearchIdBtn {
		position: absolute;
		width: 376px;
		height: 59px;
		left: 172px;
		top: 408px;
		
		background: #75CB5E;
		
		border: none;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 31.2919px;
		line-height: 43px;
		
		letter-spacing: -0.04em;
		
		color: #FFFFFF;
	}
	
	
	.k-input {
		position: absolute;
		width: 376px;
		height: 40px;
		left: 172px;
		
		color: #636363;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: 900;
		border: 2px solid #75CB5E;
		box-sizing: border-box;
		border-radius: 5px;
	}
	
	#k-userId {
		top: 258px;
	
	}	
	
	#k-userName {
		top: 303px;
	
	}	
	
	#k-userEmail {
		top: 348px;
	
	}	
	
	#k-emailCheckNum {
		top: 393px;
	
	}	
	#k-userPhone {
		top: 438px;
	
	}	
	
	#k-emailcheckbutton {
		position: absolute;
		width: 76px;
		height: 25px;
		top: 356px;
		left: 462px;
		border: none;
		background: #75CB5E;
		color: #FFFFFF;
		border-radius: 8px;
	}
	
	#k-emailcheckbutton:hover {
		background: #2BAF66;
		color: #FFFFFF;
	}
	
	input::placeholder {
		color: #DBDBDB;
		font-family: sans-serif;
		font-weight: 900;
	}
	
	#k-pwdCheckButton {
		position: absolute;
		width: 376px;
		height: 55px;
		left: 172px;
		top: 493px;
		
		box-sizing: border-box;
		
		background: #75CB5E;
		
		border: none;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 31.2919px;
		line-height: 43px;
		
		letter-spacing: -0.04em;
		
		color: #FFFFFF;
	}
	
