@charset "UTF-8";

html, body, input {
	
	box-sizing: border-box;
}

button {
	background: #00ff80;
	font-size: 10px;
	cursor: pointer;
}

.list-box {
	width: 400px;
	
	background: #white;
}

#k-postList1{
	
	border: 1px solid #eee;
}

.list-box h1 {
	text-align: center;
	color: #9fd6c2;
	border-bottom: 1px solid #87898f;
}

.write-box {
	width: 100%;
	height: 30px;
}

.write-box input {
	width: 290px;
	font-size: 10px;
	border: none;
	padding: 10px 10px;
}

.write-box button {
	width: 100px;
	border: none;
	height: 100%;
}

.list-table {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0;
}

th, td {
	border: 1px solid #CBEEC1;
	padding: 10px 10px;
	font-size: 15px;
	text-align: center;
}

th {
/* 	background: #black; */
}

td {
	color: #black;
}

tbody td:first-child {
	text-align: center;
}

.btn-area {
	text-align: center;
}

.btn-area button {
	height: 35px;
	padding: 0 10px;
	border: none;
}